# TP 01

El dataset fue extraído del siguiente link: https://www.kaggle.com/datasets/cherngs/heart-disease-cleveland-uci

In [1]:
import pandas as pd

dataset = pd.read_csv("./datos/heart_cleveland_upload.csv")

### Problema de Clasificación:
El problema que tenemos con este dataset es saber si la persona en cuestión tiene o no una enfermedad cardíaca. Esto es de clasificación binaria ya que puede ser 0 (no tiene) o 1 (tiene).

### Descripción y Exploración del Dataset

El dataset contiene 13 atributos, algunos numéricos y otros categóricos, como la edad y el género, entre otras y el target, es decir, el resultado: si tiene o no esta persona una enfermedad. A continuación la exploración para ver que columnas tenemos.

In [10]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

Podemos ver las 13 columnas con los distintos tipos de datos